3.-Web Forms/CRUDAlumnos/Negocio/Connected Services/WSAlumno/WSAlumnos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcularIMSS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAlumno" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularIMSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularIMSSResult" type="tns:AportacionesIMSS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AportacionesIMSS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="enfermedadMaternidad" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="invalidezVida" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="retiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="cesantia" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="infonavit" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalcularIsr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAlumno" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularIsrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularIsrResult" type="tns:ItemTablaISR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemTablaISR">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="limiteInferior" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="limiteSuperior" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="cuotaFija" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="excedente" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="subsidio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISR" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcularIMSSSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularIMSS" />
  </wsdl:message>
  <wsdl:message name="CalcularIMSSSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularIMSSResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularIsrSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularIsr" />
  </wsdl:message>
  <wsdl:message name="CalcularIsrSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularIsrResponse" />
  </wsdl:message>
  <wsdl:portType name="WSAlumnosSoap">
    <wsdl:operation name="CalcularIMSS">
      <wsdl:input message="tns:CalcularIMSSSoapIn" />
      <wsdl:output message="tns:CalcularIMSSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularIsr">
      <wsdl:input message="tns:CalcularIsrSoapIn" />
      <wsdl:output message="tns:CalcularIsrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSAlumnosSoap" type="tns:WSAlumnosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularIMSS">
      <soap:operation soapAction="http://tempuri.org/CalcularIMSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularIsr">
      <soap:operation soapAction="http://tempuri.org/CalcularIsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSAlumnosSoap12" type="tns:WSAlumnosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularIMSS">
      <soap12:operation soapAction="http://tempuri.org/CalcularIMSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularIsr">
      <soap12:operation soapAction="http://tempuri.org/CalcularIsr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSAlumnos">
    <wsdl:port name="WSAlumnosSoap" binding="tns:WSAlumnosSoap">
      <soap:address location="http://localhost:60081/WSAlumnos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSAlumnosSoap12" binding="tns:WSAlumnosSoap12">
      <soap12:address location="http://localhost:60081/WSAlumnos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>